/* styling for porfolio gallery card type*/
.cardslide {
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.cardslide:hover {
  transform: scale(1.1); 
}
.cardslide:active{
  transform: scale(2); 
  cursor: zoom-out;
}
/* styling for porfolio gallery table type*/
table,
th,
td, tr {
  border-spacing: 20px;
}
nav {
  position: fixed;
  z-index: 50;
  
}
a {
  text-decoration: nFone;
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #000000;
  transition: color 0.3s ease;
}
a:hover {
  color: #999999;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 20vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 1px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

header {
  margin: 30px;
  padding: 30px;
}

.menu {
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* clearfix */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Courier", Monospace;
}
p{
  font-size: 20px;
  text-align: center;
    font-family: "Courier", Monospace;
}
h1 {
  font-size: 20px;
  text-align: center;
    font-family: "Courier", Monospace;
}

table{
   font-family: "Courier", Monospace;
  padding: 50px;
}
.entry-title {
  font-family: "Courier", Monospace;
}
/* clearfix-end ========================*/

.wrapper group {
  max-width: 1024px;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  overflow: auto;
}

.navbar li {
  float: left;
}

.content {
  padding: 0 20px;
  text-align: center;
}

.navbar li a,
.navbar .dropbtn {
  color: black;

  text-decoration: none;
}

.dropdown-content {
  min-width: 160px;
  position: absolute;
  display: none;


}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
 background-color: ##999999;
}

.dropdown:hover .dropdown-content {
  display: inline-block;

}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    position: relative;
    height: auto;
  }
  .navbar li {
    float: left;
  }
  .content {
    float: none;
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 400px) {
  .navbar li,
  .content {
    float: none;
    text-align: center;
  }

}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}







.jumbotron {
	text-align: center;
  background: $light-purple;
}

.jumbotron-font {
  color: white !important;
}

.intro-image {
	margin-bottom: 15px;
	width: auto;
}

.main-section {
	padding-bottom: 30px;
}

.icons {
  color: $purple-gray;
}

.icons:hover {
  color: $light-purple;
}

.bubble {
  border-radius: 50%;
  height: 190px;
  width: 200px;
}

.bubble-container {
    text-align: center;
}

.bubble-text {
 set-margin(30px 0px 0px 0px);

}



.parallax1 {
  background: white;
  min-height:500px;
    opacity: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
  background: url('');
  min-height: 10px;
    opacity: 100%;
  margin: 10px;
    
    background-position: center;
    background-repeat: no-repeat;

}




.overlay {
  color: $light-gray;
}

.overlay1 {
  background-color: white;
  
  padding: 50px 80px;
  
}

.relative {
  position: relative;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: $header-font;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.overlay-section {
  height: 300px;
  text-align: center;
}
header {
  	margin:10px;
	padding:10px;
}
*{
	margin:0;
	padding:0;
}

/*
* === footer image and about ===
*/
img {
  height: 100%;
    width: 100%;
  text-align: center;
}
table {
  margin: 0 auto; border-spacing: 30px;
}

.acontainer {
  position: relative;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: inline-block
}

.aoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.acontainer:hover .overlay {
  
  background: rgba(0, 0, 0, .3);
  
}


.title {
  position: absolute;
  width: 300px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.acontainer:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 300px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  padding: 70px;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.acontainer:hover .button {
  opacity: 1;
}
form{
  width: 428px;
  margin: 50px auto;
  padding: 0px;
}

input {
  font-family: 'PT Sans Narrow';
  font-size: 20px;
}

.info{
  display: inline-block;
  margin-right: 5px;
}

.info input {
  display: block;
  width: 300px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 12px 10px;
  background: #fff;
}

.info input:last-child {
  margin: 0;
}

.info input:focus {
  background: grey;
  outline: none;
}

input[type="submit"]{
  vertical-align: top;
  height: 98px;
  width: 98px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: pink;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  background: linear-gradient(45deg, #FFB6C1, #e5a3ad);
}

input[type="submit"]:hover{
  background: linear-gradient(180deg, #e5a3ad, #FFB6C1);
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


/* Variables and mixins */
$breakpoint-desktop: 1000px;
$breakpoint-tablet: 900px;
$color-primary: #333;
$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.74);
$border-color: rgba(0, 0, 0, 0.12);
$transition-duration: 0.3s;
$header-height-mobile: 50px;
$header-height-desktop: 64px;
$nav-drawer-width: 300px;
$button-width: 48px;
$button-height: 48px;
$bar-thickness: 2px;
$button-pad: 16px;
$button-bar-space: 4px;

@mixin breakpoint-phone () {
  @media (max-width: ($breakpoint-tablet - 1)) {
    @content;
  }
}
@mixin breakpoint-tablet () {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}
@mixin breakpoint-desktop () {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}


/* Layout */

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.latest-container {
  margin: 0 auto;
  padding: 8px;
  width: 100%;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section header {
  margin-bottom: 24px;
}



section img {
  width: 100%;
}

.metadata {
  font-size: .9em;
  color: $text-color-secondary;
}



.featured-container {
  margin: 148px 16px 48px;
  position: relative;
  height: 696px;
  @include breakpoint-desktop() {
    margin: 96px 48px;
  }
}

.featured-nav-container {
  width: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
}

.featured-nav {
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
}

.featured-nav i {
  margin: 0 8px;
  color: $color-primary;
  transition: all $transition-duration;
  cursor: pointer;
}

.featured-nav .prev,
.featured-nav .next {
  font-size: 40px;
}

.featured {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  pointer-events: none;
  will-change: opacity;
  transition: opacity $transition-duration;
  @include breakpoint-desktop() {
    flex-flow: row nowrap;
  }
}

.featured.active {
  opacity: 1;
  pointer-events: auto;
}

.featured-image-container,
.featured-info-container {
  height: 100%;
  overflow: hidden;
}

.featured-image-container {
  margin-left: -128px;
  transform: skewX(-20deg);
  flex: 3;
}

.featured-info-container {
  flex: 2;
  z-index: 2;
}

.featured-image {
  margin-left: 128px;
  width: 100%;
  height: 100%;
  transform: skewX(20deg);
  transition: all $transition-duration;
  background-position: center;
  background-size: cover;
}

.featured-info {
  width: 100%;
  padding: 64px 0 24px 24px;
}

.featured-info header {
  width: calc(100% + 12px);
}

.featured-label {
  margin-left: 12px;
  transform: skewX(-20deg);
  overflow: hidden;
}

.featured-label {
  margin: 0 0 0 -12px;
  padding: 16px 8px 16px 32px;
  background: $color-primary;
  color: #fff;
  line-height: 1;
  transform: skewX(20deg);
}

.featured-info .entry-title {
  margin: 24px 0 16px 64px;
  line-height: 1;
}

.featured-info .metadata {
  margin: 16px 0 0 64px;
  line-height: 1;
}

.featured-info .entry-summary {
  margin-left: 64px;
}

.widget {
  margin: 0 40px 24px 88px;
  display: flex;
  align-items: center;
}



.widget img {
  margin: 0 auto;
}

.button {
  margin-left: 5px;
  display: inline-block;
  padding: 24px;
  border: 1px solid $color-primary;
  color: grey;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 4px;
  transition: all $transition-duration;
}

.button:hover {
  background: $color-primary;
  color: grey;
  text-decoration: none;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition-duration;
  @include breakpoint-desktop() {
    display: none;
  }
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
   text-decoration: none
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3px;
	
		weight: lighter;
		size: 14px;

	display: inline-block;
	padding: 15px 20px;
	position: relative;
	z-index: 1;
  overflow: hidden;
	transition: all 0.4s cubic-bezier(0.25,0.1,0.2,1);
  text-align: center;
color: white;
background-color: pink;}

	

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}




hr, .style13 {
	height: 0px;
	border: 0;
	box-shadow: 0 10px 10px -10px balck inset;
  width: 70%;
  align: center;
}

.imagegallery{
  width:500px;
  margin:0 auto;
}
.gallerythumbs{
	text-align: center;
}
.gallerythumbs img {
	width: 50px;
  height:auto;
}
.gallerythumbs a {
	border: none;
  text-decoration:none;
}
.gallery-big{
	position: relative;
}
.gallerypager a{
	border: none;
	position: absolute;
	top: 50%;
	height: 40px;
	width: 26px;
	background: rgba(255,255,255,0.8);
	padding: 4px;
  margin-top: -20px;
}
.gallerypager a:after{
	position: absolute;
	content: "";
	border-style: solid;
	border-color: rgba(0, 0, 0, 0) #464646;
	top: 9px;
}
.gallerypager .gallery-prev{
	left: 0;
	border-radius: 0 16px 16px 0;
}
.gallery-prev:after {
	border-width: 15px 15px 15px 0;
	left: 6px;
}
.gallerypager .gallery-next{
	right: 0;
	border-radius: 16px 0 0 16px;
}
.gallery-next:after {
	border-width: 15px 0 15px 15px;
	right: 6px;
}
.gallerypager span{
	display: none;
}