<head>
    <link href="stylepage.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  </head>
  <nav>
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="Index.html">Home</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
        <li><a href="blog.html">Blog</a></li>
        <div class="wrapper">
            <ul class="navbar">
              <li class="dropdown">
        <a href="work.html" class="dropbtn"> Work</a>
          <div class="dropdown-content">
            <a href="photopage.html">Photography</a>
            <a href="stylepage.html">Styling</a>
            <a href="designpage.html">Design</a>
         </div>
        </li>
      </ul>
  
  </nav>
  <!-- Header -->

  <br></br>
  <br></br>
  <br></br>
  <header>  
    
      <center> <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>AC</b></span> <span class="w3-hide-small w3-text-dark-grey">DESIGN</span></h1></center>
     </div>
   </header>
  <br></br>
  <br></br>
  <br></br>
     <div class="wrapper">
  <ul>
    <li><a></li></ul></div>
   
  
   
    <div class="gallery cf">
      <div>
        <img src="http://78.media.tumblr.com/7ce84126f5c88dfbdc28c02dfdd75e2e/tumblr_p0afgclqRr1srskwco1_1280.jpg" />
      </div>
      <div>
        <img src="pac12.png"/>
      </div>
  
  
      <div>
        <img src="weather.png
  " />
      </div>
          <div>
            <img src="todo.png" />
          </div>
  
      <div>
        <img src="tictac.png" />
      </div>
  
      <div>
        <img src=  "flag.png"/>
      </div>
  
      <div>
        <img src="map.png" />
      </div>
  
      <div>
        <img src=  "instagram.png"/>
      </div>
      <div>
        <img src=  "flight.png"/>
      </div>
      <div>
        <img src=  "color.png"/>
      </div>
      <div>
        <img src=  "bootstrap.png"/>
      </div>
      <div>
        <img src=  "bill.png"/>
      </div>
      
    </div>
   
  
    
  
    
  
    <script type="text/javascript" src="photopage.js"></script>
  </html>