/* styling for porfolio gallery card type*/

/* styling for porfolio gallery table type*/
table,
th,
td,
tr {
  border-spacing: 20px;
}
nav {
  position: fixed;
  z-index: 50;
}
a {
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #000000;
  transition: color 0.3s ease;
}
a:hover {
  color: #999999;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 20vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 1px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

header {
  margin: 30px;
  padding: 30px;
}

.menu {
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* clearfix */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

/* clearfix-end ========================*/

.wrapper group {
  max-width: 1024px;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  overflow: auto;
}

.navbar li {
  float: left;
}

.content {
  padding: 0 20px;
  text-align: center;
}

.navbar li a,
.navbar .dropbtn {
  color: black;

  text-decoration: none;
}

.dropdown-content {
  min-width: 160px;
  position: absolute;
  display: none;


}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
 background-color: ##999999;
}

.dropdown:hover .dropdown-content {
  display: inline-block;

}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    position: relative;
    height: auto;
  }
  .navbar li {
    float: left;
  }
  .content {
    float: none;
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 400px) {
  .navbar li,
  .content {
    float: none;
    text-align: center;
  }
}

.mySlides, .mySlidesTwo {
  padding-left: 40px;
}

button {

  border-radius: 50%;
  box-shadow:  0 17px 50px 0 rgba(0,0,0,0.19);
}
.slides {
    padding: 0;
    width: 700px;
    height: 700px;
    display: block;
    margin: 0 auto;
    position: relative;
}
body{text-align:center;margin-bottom: 100px}

 ul {
  list-style-type: none;
 font-family: 'Josefin Sans', sans-serif; sans-serif;
  padding: 0;
  overflow: hidden;
}

li.about a {
  float: left;
  margin: 0;
  color: #444;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  border-top: 2px solid #CBA6BB;
  background-image: linear-gradient(#CBA6BB, #CBA6BB);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: all 400ms ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

li.about a:hover {
  background-size: 100% 100%;
  color: white;}

.wrapper {
  text-align: left;margin-left:50px;margin-top: 50px;
}
.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}
.wrapper li {
  float: left;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 1250px;
  height: 930px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  z-index: 10;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
  z-index: 10;
}

.gallery > div > img {
  display: block;
  width: 300px;
  height: 300px%;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 12;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

  
  
 