/* styling for porfolio gallery card type*/
.cardslide {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .cardslide:hover {
    transform: scale(1.1);
  }
  .cardslide:active {
    transform: scale(2);
    cursor: zoom-out;
  }
  /* styling for porfolio gallery table type*/
  table,
  th,
  td,
  tr {
    border-spacing: 20px;
  }
  nav {
    position: fixed;
    z-index: 50;
    
  }
  a {
    text-decoration: none;
    font-family: "Courier New", monospace;
    font-size: 18px;
    color: #000000;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #999999;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 20vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 1px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
  }
  
  header {
    margin: 30px;
    padding: 30px;
  }
  
  .menu {
  }
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* clearfix */
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* clearfix-end ========================*/
  
  .wrapper group {
    max-width: 1024px;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  
    overflow: auto;
  }
  
  .navbar li {
    float: left;
  }
  
  .content {
    padding: 0 20px;
    text-align: center;
  }
  
  .navbar li a,
  .navbar .dropbtn {
    color: black;
  
    text-decoration: none;
  }
  
  .dropdown-content {
    min-width: 160px;
    position: absolute;
    display: none;
  
  
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
   background-color: ##999999;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline-block;
  
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
      width: 100%;
      position: relative;
      height: auto;
    }
    .navbar li {
      float: left;
    }
    .content {
      float: none;
      width: 100%;
      text-align: justify;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar li,
    .content {
      float: none;
      text-align: center;
    }
  
  }
  .footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
  }
  
  body {
      padding: 0px;
    font-family: Courier New;
  }
  
  
  
  
  
  .jumbotron {
      text-align: center;
    background: $light-purple;
  }
  
  .jumbotron-font {
    color: white !important;
  }
  
  .intro-image {
      margin-bottom: 15px;
      width: auto;
  }
  
  .main-section {
      padding-bottom: 30px;
  }
  
  .icons {
    color: $purple-gray;
  }
  
  .icons:hover {
    color: $light-purple;
  }
  
  .bubble {
    border-radius: 50%;
    height: 190px;
    width: 200px;
  }
  
  .bubble-container {
      text-align: center;
  }
  
  .bubble-text {
   set-margin(30px 0px 0px 0px);
    text-align: center;
  }
  
  
  
  .parallax1 {
    background: white;
    min-height:500px;
      opacity: 100%;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .parallax2 {
    background: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/23596431_299431673903889_3176427021777502208_n.jpg');
    min-height: 500px;
      opacity: 100%;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .parallax3 {
    background: url('https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20393549_723889031133093_7030505775835381760_n.jpg');
    min-height: 400px;
      opacity: 100%;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  
  
  .overlay {
    color: $light-gray;
  }
  
  .overlay1 {
    background-color: white;
    
    padding: 50px 80px;
    
  }
  
  .relative {
    position: relative;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: $header-font;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .overlay-section {
    height: 300px;
    text-align: center;
  }
  header {
        margin:10px;
      padding:10px;
  }
  *{
      margin:0;
      padding:0;
  }
  
  /*
  * === footer image and about ===
  */
  img {
    height: 250px;
      width: 250px;
  }
  table {
    margin: 0 auto; border-spacing: 30px;
  }
  
  .acontainer {
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    display: inline-block
  }
  
  .aoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .acontainer:hover .overlay {
    
    background: rgba(0, 0, 0, .3);
    
  }
  
  
  .title {
    position: absolute;
    width: 300px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .acontainer:hover .title {
    top: 90px;
  }
  
  .button {
    position: absolute;
    width: 300px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .acontainer:hover .button {
    opacity: 1;
  }
  
  
    
    
   