
/* styling for porfolio gallery table type*/

img,
 { text-align: center;


}
nav {
  position: fixed;
  z-index: 50;
}
a {
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-size: 18px;
  color: #000000;
  transition: color 0.3s ease;
}
a:hover {
  color: #999999;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 20vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 1px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

header {
  margin: 30px;
  padding: 30px;
}

.menu {
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* clearfix */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
}

/* clearfix-end ========================*/

.wrapper group {
  max-width: 1024px;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  overflow: auto;
}

.navbar li {
  float: left;
}

.content {
  padding: 0 20px;
  text-align: center;
}

.navbar li a,
.navbar .dropbtn {
  color: black;

  text-decoration: none;
}

.dropdown-content {
  min-width: 160px;
  position: absolute;
  display: none;


}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
 background-color: ##999999;
}

.dropdown:hover .dropdown-content {
  display: inline-block;

}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    position: relative;
    height: auto;
  }
  .navbar li {
    float: left;
  }
  .content {
    float: none;
    width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 400px) {
  .navbar li,
  .content {
    float: none;
    text-align: center;
  }

}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

body {
	padding: 0px;
  font-family: Courier New;
}







.main-section {
	padding-bottom: 30px;
}

.icons {
  color: $purple-gray;
}

.icons:hover {
  color: $light-purple;
}

.bubble {
  border-radius: 50%;
  height: 190px;
  width: 200px;
}

.bubble-container {
    text-align: center;
}

.bubble-text {
 set-margin(30px 0px 0px 0px);
  text-align: center;
}



.parallax1 {
  background: white;
  min-height:800px;
    opacity: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
  background: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/24839150_913189698845735_3739501984516931584_n.jpg');
  min-height: 400px;
    opacity: 50%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
  background: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/24839150_913189698845735_3739501984516931584_n.jpg');
  min-height: 400px;
    opacity: 50%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.overlay {
  color: $light-gray;
}

.overlay1 {
  background-color: white;
  
  padding: 50px 80px;
  
}

.relative {
  position: relative;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  font-family: $header-font;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.overlay-section {
  height: 300px;
  text-align: center;
}
header {
  	margin:10px;
	padding:10px;
}
*{
	margin:0;
	padding:0;
}

/*
* === footer image and about ===
*/
img {
  height: 100%;
    width: 100%;
}

#contact {
  padding: 300px;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td,table {
    
    text-align: center;
  padding: 0px;
   
  
}
body,p, h1,h2,h3,h4,h5,h6 {  font-family: "Courier New", monospace;}
button {
   text-decoration: none
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3px;
	
		weight: lighter;
		size: 14px;

	display: inline-block;
	padding: 15px 20px;
	position: relative;
	z-index: 1;
  overflow: hidden;
	transition: all 0.4s cubic-bezier(0.25,0.1,0.2,1);
  text-align: center;
color: white;
background-color: pink;}
