<head>
    <link href="photopage.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  </head>
  <nav>
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="Index.html">Home</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
        <li><a href="blog.html">Blog</a></li>
        <div class="wrapper">
          <ul class="navbar">
            <li class="dropdown">
              <a href="work.html" class="dropbtn"> Work</a>
              <div class="dropdown-content">
                <a href="photopage.html">Photography</a>
                <a href="stylepage.html">Styling</a>
                <a href="designpage.html">Design</a>
              </div>
            </li>
          </ul>
  
  </nav>
  <!-- Header -->
  
  <header>  
    
      <center> <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>AC</b></span> <span class="w3-hide-small w3-text-dark-grey">PHOTOGRAPHY</span></h1></center>
     </div>
   </header>
 
     <div class="wrapper">
  <ul>
    <li><a></li></ul></div>
   

  <div class="gallery cf">
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20214463_1570504459648075_6980875139512532992_n.jpg" />
      </div>
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20185013_297807440685292_2512408778415013888_n.jpg"/>
      </div>
  
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20225400_1505699716154286_7258080437694627840_n.jpg
  " />
      </div>
          <div>
            <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20398299_468444480191534_6936405254288179200_n.jpg" />
          </div>
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20214430_1752701081425093_4413714538914906112_n.jpg" />
      </div>
  
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20225861_116551148987751_20070854620610560_n.jpg"/>
      </div>
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20226030_1590476584316367_2750264440929648640_n.jpg" />
      </div>
  
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20393549_723889031133093_7030505775835381760_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20346879_112618919390630_907913007852421120_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20214716_1686176995022302_8551237447764148224_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20226158_316004072193503_445245339587313664_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20225388_129683404305626_7908827421091037184_n.jpg"/>
      </div>
      
    </div>
   
  
  
    
  
    
  
    <script type="text/javascript" src="photopage.js"></script>
  </html>