<head>
    <link href="stylepage.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  </head>
  <nav>
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="Index.html">Home</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
        <li><a href="blog.html">Blog</a></li>
        <div class="wrapper">
            <ul class="navbar">
              <li class="dropdown">
        <a href="work.html" class="dropbtn"> Work</a>
          <div class="dropdown-content">
            <a href="photopage.html">Photography</a>
            <a href="stylepage.html">Styling</a>
            <a href="designpage.html">Design</a>
         </div>
        </li>
      </ul>
  
  </nav>
  <!-- Header -->
  <br></br>
  <br></br>
  <br></br>
  <header>  
    
      <center> <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>AC</b></span> <span class="w3-hide-small w3-text-dark-grey">STYLING</span></h1></center>
     </div>
   </header>
  <br></br>
  <br></br>
  <br></br>
     <div class="wrapper">
  <ul>
    <li><a></li></ul></div>
   
  
    <div class="gallery cf">
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/23421085_157255751682782_9161775398306971648_n.jpg" />
      </div>
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/22429612_253829438474864_692370885851480064_n.jpg"/>
      </div>
  
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/19121025_1346096185506270_2484139677334896640_n.jpg
  " />
      </div>
          <div>
            <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/22637223_501252606925767_7828770819831496704_n.jpg" />
          </div>
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/25010675_137440026959213_5429305001103065088_n.jpg" />
      </div>
  
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/23734627_516373908740575_7517158057604808704_n.jpg"/>
      </div>
  
      <div>
        <img src="https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/21688657_273497636474040_1475359027528466432_n.jpg" />
      </div>
  
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20184486_1483258471717811_415014937396510720_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e35/20347227_198517327348562_7887995330761850880_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20398746_475819582768786_4980081688576000000_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20347006_1411831585577077_1343790259262980096_n.jpg"/>
      </div>
      <div>
        <img src=  "https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-15/e15/20225749_1606487039396361_4883282239644762112_n.jpg"/>
      </div>
      
    </div>
   
  
  
    
  
    
  
    <script type="text/javascript" src="photopage.js"></script>
  </html>